<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.10.1/metricsgraphics.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.10.1/metricsgraphics.css"
    rel="stylesheet" type="text/css"/>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

        body {
            font-family: 'Source Sans Pro';
        }

        html {
            font-size: 1em;
        }
    </style>
    <title>Performance of {{ mfname }}</title>
</head>
<body>
  <h1>Performance of {{ mfname }}</h1>
  <div id="chart"></div>
   <script>
     makechart = function(charturl, chartid) {
     d3.json(charturl, function(data) {
         data = MG.convert.date(data, 'date');
         data = MG.convert.number(data, 'nav');
         MG.data_graphic({
             title: "Performance of {{ mfname }} ",
             description: "NAV of {{ mfname }}",
             data: data,
             width: 600,
             height: 375,
             target: "#" + chartid,
             x_accessor: "date",
             y_accessor: "nav",
	     area: true,
	     transition_on_update: false,
         });
     });
     };
     makechart('{% url 'navserver:navjson' amfisymbol startdate enddate %}', "chart");
    </script>
    <h3>Past returns</h3>
    <ul>
      <li><a href="javascript:makechart('/navserver/json/{{ amfisymbol }}/20150814-20160814/', 'chart')">1 year</a></li>
      <li><a href="javascript:makechart('/navserver/json/{{ amfisymbol }}/20140814-20160814/', 'chart')">2 years</a></li>
      <li><a href="javascript:makechart('/navserver/json/{{ amfisymbol }}/20130814-20160814/', 'chart')">3 years</a></li>
      <li><a href="javascript:makechart('/navserver/json/{{ amfisymbol }}/20120814-20160814/', 'chart')">4 years</a></li>
      <li><a href="javascript:makechart('/navserver/json/{{ amfisymbol }}/20110814-20160814/', 'chart')">5 years</a></li>
      <li><a href="javascript:makechart('/navserver/json/{{ amfisymbol }}/20100814-20160814/', 'chart')">6 years</a></li>
    </ul>
</body>
</html>
