<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.10.1/metricsgraphics.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.10.1/metricsgraphics.css"
    rel="stylesheet" type="text/css"/>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

        body {
            font-family: 'Source Sans Pro';
        }

        html {
            font-size: 1em;
        }
    </style>
</head>
<body>
  <div id="chart"></div>
   <script> 
     d3.json('{% url 'navserver:navjson' amfisymbol startdate enddate %}', function(data) { 
         data = MG.convert.date(data, 'date'); 
         MG.data_graphic({ 
             title: "NAV", 
             description: "My NAV", 
             data: data, 
             width: 600, 
             height: 375, 
             target: "#chart", 
             x_accessor: "date", 
             y_accessor: "nav"
         });
     }); 
    </script> 
</body>
</html>
